// p {
//   color: goldenrod;
// }
body {
  background-color: #EAEBED;
}

.center {
  text-align: center;
}

// .center * {
//   text-align: center;
// }

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color:#9e9e9e;
}

.footer * {
  display: inline;
}

.navbar {
  border-radius: 0 !important;
}

#foot-home {
  margin-left: 20%;
}

#foot-contact {
  margin-right: 20%;
  float: right;
}

.video-center {
  // width: 40% !important;
  margin-left: 25%;
}

.video-center * {
  width: 100%;
}

.code {
  color: blue;
}

// .hundred {
//   width: 100%;
//   height: 100%;
// }

// .login-img * {
//   // width: 100%
// }

.v-center {
  margin-top: 15vh;
}
.blue-color {
  color: #E43F6F !important;
}
.normal-txt {
  text-align: left !important;
}
